### Uses https://github.com/GoogleChromeLabs/chrome-for-testing#json-api-endpoints
# These values probably won't need changing.
TARGET=https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json
DRIVER_VERSION=latest

### Machine Parameters
# These are the values for your particular machine.
#
# See https://googlechromelabs.github.io/chrome-for-testing/#stable
# for exact platform choices to match your needs.
PLATFORM=mac-arm64

# You can find your chromedriver install in the shell:
#   $ which chromedriver
INSTALL_PATH=/usr/local/bin/

# WORKING_PATH is a throwaway storage area for things
# we won't care about.  If it gets emptied on reboots, that's even better.
WORKING_PATH=/tmp/chromedriverupdate/

# From 4 (all the logging) to 1 (none of the logging)
LOUDLY=4

